.app {
  background-image: url("../../assets/images/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14,14,14,.6);
  z-index: 1;
}

.login {
  position: relative;
  z-index: 2;
  width: 30rem;
  max-height: 40rem;
  height: 100%;
  background-color: rgba(3,3,3,.75);
  color: #fefefe;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
}

.login__title {
  font-size: 2rem;
  font-weight: bold;
}


.login__field {
  border-radius: 0.5rem;
  height: 3rem;
  background-color: #333;
  color: white;
  border: 0;
  font-size: 1rem;
  box-shadow: none;
  margin: 1rem 0;
}

.login__button {
  display: inline-block;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.login__button--sign-in {
  height: 3rem;
  background-color: #E50931;
}

.login__button--sign-google, .login__button--sign-guest {
  height: 2.5rem;
}

.text-login {
  display: block;
  color: white;
  text-align: center;
}
